.apresentacao {
    padding: 1rem;
}

.apresentacao .foto {
    border-radius: 50%;
    width: 128px;
}

.apresentacao .nome {
    margin: 0;
}

.apresentacao .nome::first-letter {
    margin: 0;
    color: #ED1C24;
}

.apresentacao .cargo {
    margin-top: 0.5em;
    color: #ED1C24;
}

.contatos {
    margin-top: 5rem;
}
