/*html,
body {
    -webkit-font-smoothing: antialiased;
}*/

html {
    box-sizing: border-box;
}

body {
    font: 16px/1.5em sans-serif;
    color: #444;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #48577A;
}

.hero {
    background: linear-gradient(30deg, #ccc , #444);

    height: 100vh;
    min-height: 400px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__foto {
    border-radius: 50%;
    width: 12rem;
    margin-bottom: 2.5em;
    animation: hero__foto__animation 1000ms ease-in;
}

@keyframes hero__foto__animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero__nome {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.5em 0.75em;
    text-align: center;
    border-radius: 3px;
    line-height: 1em;
    animation: hero__nome__animation 600ms ease-in;
}

@keyframes hero__nome__animation {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projetos-github {
    /*background: linear-gradient(to left, #70e1f5 , #ffd194);*/
    background-color: #f3f1eb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

.projetos-github__titulo {
    flex: 1 1 100%;
    padding-top: 1em;
    text-align: center;
    color: #5E2E82;
}

.projetos-github__projeto {
    padding: 2em;
    text-align: center;
    flex: 1 1 100%;
}

.projetos-github__projeto__nome {
    color: #536B91;
    margin: 0.5em;
}

.projetos-github__projeto__descricao {
    padding: 0.5em;
}

.projetos-github__projeto__link {
    padding: 0.65em 0.75em;
    background-color: #4F8397;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
    display: block;
    margin: 0.75em 0;
}

.projetos-github__projeto__link:hover {
    box-shadow: 0 25px 20px -12px rgba(0, 0, 0, 0.2);
    background-color: #57588C;
    transform: translate3d(0, -3px, 0);
}

.projetos-github__projeto__link--primary:hover {
    background-color: $link-hover-color;
    border-color: darken($link-hover-color, 10%);
}

.contatos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background: linear-gradient(to left, #49a09d, #5f2c82);*/
    background-color: #f3f1eb;
}

.contatos__titulo {
    flex: 1 1 100%;
    padding-top: 1em;
    text-align: center;
    color: #5E2E82;
}

.contatos__contato {
    flex: 1 1 50%;
    text-align: center;
    padding: 2em 0;
    transition: background-color 500ms;
    border-radius: 4px;
}

.contatos__contato:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
    .projetos-github__projeto {
        flex: 0 0 40%;
    }

    .contatos__contato {
        flex: 1 1 25%;
    }

    .projetos-github__projeto__link {
        display: inline-block;
        margin: 0;
    }

    .projetos-github__titulo,
    .contatos__titulo {
        padding-left: 3em;
        text-align: left;
    }
}
