$link-hover-color: #E87754;

html,
body {
    -webkit-font-smoothing: antialiased;
}

.main-header {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    color: #fff;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .minha-foto {
        border-radius: 50%;
        width: 16rem;
    }

    .nome,
    .profissao {
        background-color: rgba(0, 0, 0, 0.15);
        padding: 0.25em 0.5em;
        text-align: center;
        border-radius: 3px;
    }
}


.btn {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;


    &:hover {
        box-shadow: 0 25px 20px -12px rgba(0, 0, 0, 0.2);
        background-color: darken(#fff, 5%);
        transform: translate3d(0, -3px, 0);
    }

    &.btn-primary:hover {
        background-color: $link-hover-color;
        border-color: darken($link-hover-color, 10%);
    }
}

.meus-projetos {
    margin-top: 1rem;

    & > .row {
        margin-top: 2rem;
    }

    & > .row.quote {
        margin-top: 7rem;
    }

    .projeto {
        p {
            color: #666;
        }
    }
}

.contatos {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .social {
        a {
            padding: 16px;
            text-decoration: none;

            &::before {
                margin-right: 0.25em;
            }

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}
